.slider-div{
    height: 900px;
    width: 850px;
}
.alpha60 {
    /* Fallback for web browsers that don't support RGBa */
    background-color: rgb(0, 0, 0);
    /* RGBa with 0.6 opacity */
    background-color: rgba(0, 0, 0, 0.6);
    /* For IE 5.5 - 7*/
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
    /* For IE 8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
}
.section-headings{
    font-family: 'Allerta Stencil';
}
/*large area boxes */
.pink-box{
    background-color: pink;
}
.black-box{
    opacity:0.8;
    background-color: black;
    width: 150px;
    color:white;
    text-align: center;
    padding: 10px;
    position: relative;
    font-family: 'Open Sans', 'sans-serif';
}
/* resume boxes*/
.resume-grey{
    /*background-color: lightgray;*/
    height: 350px;
    width: 300px
}
/*media */
.placeholder{
    height: 250px;
}
.sliding-text {
    color: #cecece;
    /*background: #222;*/
    overflow: hidden;
}
/* sliding text animations */
.item-1{
    color: yellow;
}
.item-2{
    color: #00b0ff;
}
.item-3{
    color: orangered;
}
.item-1,
.item-2,
.item-3 {
    position: absolute;
    display: block;
    top: 2em;
    width: 60%;
    animation-duration: 20s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    font-family:'Allura';
    font-size: 33px;

}
/* sliding text animations */
.item-1{
    animation-name: anim-1;
}

.item-2{
    animation-name: anim-2;
}

.item-3{
    animation-name: anim-3;
}

@keyframes anim-1 {
    0%, 8.3% { left: 45%; opacity: 0; }
    8.3%,25% { left: 45%; opacity: 1; }
    33.33%, 100% { left: 5%; opacity: 0; }
}

@keyframes anim-2 {
    0%, 33.33% { left: 45%; opacity: 0; }
    41.63%, 58.29% { left: 55%; opacity: 1; }
    66.66%, 100% { left: 10%; opacity: 0; }
}

@keyframes anim-3 {
    0%, 66.66% { left: 45%; opacity: 0; }
    74.96%, 91.62% { left: 31%; opacity: 1; }
    100% { left: -10%; opacity: 0; }
}
/* DEMO-SPECIFIC STYLES */
.typewriter h1 {
    font-family: 'Allerta Stencil';
    font-size: 150px;
    color:whitesmoke;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid yellow; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    transform: translate(-30%, 50%);
    position: relative;
    top: 100px;
    left: 50%;
    animation: typing 0.9s steps(40, end), blink-caret .75s step-end infinite;
}
.aboutme{
    color:black;
    position: relative;
    top:130px;
}
.name{
    font-family: 'Allerta Stencil';
    font-size: 30px;
    color: yellow;
    position: relative;
    top:160px;
}
/* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: yellow }
}
/*youtube iframes*/
iframe {
    width: 100%;
}
.aspect-ratio {
    position: fixed;
    width: 100%;
    height: 0;
    padding-bottom: 51%;
}
.aspect-ratio iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0; top: 0;
}
/*modal headers*/
h4{
    font-family: 'Allerta Stencil';
}
.modal {
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    background-color: floralwhite;
    padding: 0;
    max-height: 70%;
    width: 55%;
    margin: auto;
    overflow-y: auto;
    border-radius: 2px;
    will-change: top, opacity;
}
.modal .modal-content {
    padding: 24px;
}
.modal.bottom-sheet {
    top: auto;
    bottom: -100%;
    margin: 0;
    width: 100%;
    max-height: 45%;
    border-radius: 0;
    will-change: bottom, opacity;
}
.modal-content p{
    font-family:'Allura';
    font-size: 25px;
}
.parallax-container {
    height: 800px;
}
.boxes:hover{
    background-color:#FF0000;
}
